* {
    /*
    #  Colors used in this Light Waybar Theme. This is just for reference.
        --foreground : #242639;
        --background : #AECCE6;
        --blue	     : #464CE1;
        --red	     : #DF373A;
        --violet	 : #7F00FF;
        --slate-grey : #708090;
    */

        font-family: 'CodeNewRoman Nerd Font Propo', 'Hack Nerd Font Mono Propo', '3270 Nerd Font Propo';
        border: none;
        border-radius: 0px;
        margin-left: 2px;
        margin-right: 2px;
    }

    window#waybar {
        min-height: 20px;
        border-radius: 9px;
        color: #4A4A4A;
        background-color: rgba(255, 255, 227, .5);
    }

    .modules-left {
        background-color: rgba(45, 45, 45, .8);
        margin: 6px 3px;
        border-radius: 6px 3px 3px 6px;
        color: #ffffff;
        min-width: 350px;
        padding-right: 12px;
    }

    .modules-right {
        background-color: rgba(45, 45, 45, .8);
        margin: 6px 3px;
        border-radius:  3px 6px 6px 3px;
        color: #ffffff;
        font-weight: 600;
        font-size: 15px;
        min-width: 400px;
    }

    .modules-center {
        margin: 14px 0;
    }

    #custom-appmenu {
        box-shadow: none;
        text-shadow: none;
        padding-right: 18px;
        padding-left: 18px;
        font-size: 20px;
        font-weight: bold;
    }
    #mode {
        color: #cc3436;
        font-weight: bold;
    }

    #taskbar {
        margin-right: 36px;
    }

    #taskbar button {
        box-shadow: none;
        text-shadow: none;
        margin-right: 0px;
        margin-left: 0px;
        padding-right: 4px;
        padding-left: 4px;
    }

    #taskbar button.active {
        background: transparent;
        margin-right: 0px;
        margin-left: 0px;
        padding-right: 4px;
        padding-left: 4px;
    }

    #taskbar button:hover {
        background: #242639;
        color: #cfdeeb;
    }

    window#waybar #window {
        font-size: 13px;
        font-weight: bold;
        margin: 9px 0;
        color: #cbc9d6;
        background-color: rgba(202, 79, 79, 0.2);
        border-radius: 3px;
        padding: 3px 9px;
        border: 2px solid rgba(206, 173, 173, 0.1);
        min-width: 100px;
    }

    #workspaces button {
        box-shadow: none;
        text-shadow: none;
        margin-right: 4px;
        margin-left: 4px;
        padding: 3px 0;
        background-color: rgba(253, 251, 212, .6);
        color: #000080;
        min-width: 56px;
        opacity: 1;
        font-size: 16px;
        border-radius: 3px;
    }

    #workspaces button.foccused {
        color: #5a7c3b;
        background: rgb(150, 28, 28);
    }

    #workspaces button.persistent {
        background-color: #ffffff;
        color: #0e2755;
    }

    /* this is when it is active ;) */
    #workspaces button.visible {
        background-color: rgba(253, 251, 212, .9);
        color: #0000ff;
    }

    /* #workspaces button.focused {
        background: #4A90E2;
        color: #ffffff;
    } */

    #workspaces button.urgent {
        background: #DF373A;
        color: #ffffff;
        font-weight: bold;
    }

    #workspaces button.empty {
        background: #A9A9A9;
        color: #242639;
    }

    #workspaces button:hover {
        background: rgba(189, 185, 106, .8);
        color: #fdfdb4;
    }

    #tray {
        padding-right: 12px;
        padding-left: 12px;
        margin-right: 18px;
    }


    #cpu {
        padding-right: 4px;
        padding-left: 4px;
        margin-right: 6px;
    }

    #memory {
        padding-right: 4px;
        padding-left: 4px;
        margin-right: 6px;
    }

    #disk {
        padding-right: 4px;
        padding-left: 4px;
    }

    #pulseaudio {
        padding-right: 4px;
        padding-left: 4px;
        margin-right: 18px;
    }
    #pulseaudio.muted {
        color: #cc3436;
    }

    #battery {
        padding-right: 4px;
        padding-left: 4px;
    }

    #battery.charging {
        color: #2dcc36;
    }

    #battery.warning:not(.charging) {
        color: #e6e600;
    }

    #battery.critical:not(.charging) {
        color: #cc3436;
    }

    #network {
        padding-right: 0;
        padding-left: 4px;
    }

    #bluetooth {
        padding-left: 0;
        padding-right: 4px;
    }

    #clock {
        padding-right: 18px;
        padding-left: 8px;
    }

    #user {
        box-shadow: none;
        text-shadow: none;
        padding: 0px;
        border-radius: 5px;
        margin-top: 3px;
        margin-bottom: 3px;
        padding-right: 4px;
        padding-left: 4px;
        color: #242639;
    }

    #custom-quit {
        box-shadow: none;
        text-shadow: none;
        padding: 0px;
        border-radius: 5px;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-right: 2px;
        margin-left: 2px;
        padding-right: 10px;
        padding-left: 10px;
        color: #242639;
    }

    #custom-lock {
        box-shadow: none;
        text-shadow: none;
        padding: 0px;
        border-radius: 5px;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-right: 2px;
        margin-left: 2px;
        padding-right: 10px;
        padding-left: 10px;
        color: #242639;
    }

    #custom-reboot{
        box-shadow: none;
        text-shadow: none;
        padding: 0px;
        border-radius: 5px;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-right: 2px;
        margin-left: 2px;
        padding-right: 10px;
        padding-left: 10px;
        color: #242639;
    }

    #custom-shutdown {
        box-shadow: none;
        text-shadow: none;
        padding: 0px;
        border-radius: 5px;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-right: 2px;
        margin-left: 2px;
        padding-right: 10px;
        padding-left: 10px;
        color: #242639;
    }
