* {
    /*
    #  Colors used in this Light Waybar Theme. This is just for reference.
        --foreground : #242639;
        --background : #AECCE6;
        --blue	     : #464CE1;
        --red	     : #DF373A;
        --violet	 : #7F00FF;
        --slate-grey : #708090;
    */

        font-family: 'CodeNewRoman Nerd Font Propo', 'Hack Nerd Font Mono Propo', '3270 Nerd Font Propo';
        border: none;
        border-radius: 0px;
        margin-left: 2px;
        margin-right: 2px;
    }

    window#waybar {
        min-height: 20px;
        border-radius: 9px;
        color: #4A4A4A;
        background-color: rgba(255, 255, 227, .3);
    }

    .modules-left {
        background-color: rgba(45, 45, 45, .8);
        margin: 6px 3px;
        border-radius: 6px 3px 3px 6px;
        color: #ffffff;
        min-width: 350px;
        padding-right: 12px;
    }

    .modules-right {
        background-color: rgba(45, 45, 45, .8);
        margin: 6px 3px;
        border-radius:  3px 6px 6px 3px;
        color: #ffffff;
        font-weight: 600;
        font-size: 15px;
        min-width: 450px;
    }

    .modules-center {
        margin: 14px 0;
    }

    #custom-appmenu {
        box-shadow: none;
        text-shadow: none;
        padding-right: 18px;
        padding-left: 18px;
        font-size: 20px;
        font-weight: bold;
    }

    #taskbar {
        margin-right: 36px;
    }

    #taskbar button {
        box-shadow: none;
        text-shadow: none;
        margin-right: 0px;
        margin-left: 0px;
        padding-right: 4px;
        padding-left: 4px;
    }

    #taskbar button.active {
        background: transparent;
        margin-right: 0px;
        margin-left: 0px;
        padding-right: 4px;
        padding-left: 4px;
    }

    #taskbar button:hover {
        background: #242639;
        color: #cfdeeb;
    }

    window#waybar #window {
        font-size: 13px;
        font-weight: bold;
        margin: 6px 0;
        color: #cbc9d6;
        background-color: rgba(51, 67, 82, 0.1);
        border-radius: 6px;
        padding: 3px 9px;
        border: 3px solid rgba(206, 173, 173, 0.1);
    }

    #workspaces button {
        box-shadow: none;
        text-shadow: none;
        margin-right: 2px;
        margin-left: 2px;
        padding: 3px 0;
        background-color: #CBCBCB;
        color: #4a4a4a;
        min-width: 56px;
        opacity: 1;
        font-size: 16px;
    }

    #workspaces button.active {
        background: #6D8196;
        color: #161827;
    }

    #workspaces button:hover {
        background: #6D8196;
        color: #242639;
    }

    #tray {
        padding-right: 12px;
        padding-left: 20px;
    }

    #battery {
        padding-right: 8px;
        padding-left: 4px;
    }

    #cpu {
        padding-right: 8px;
        padding-left: 4px;
    }

    #memory {
        padding-right: 4px;
        padding-left: 4px;
    }

    #disk {
        padding-right: 4px;
        padding-left: 4px;
    }

    #pulseaudio {
        padding-right: 18px;
        padding-left: 4px;
    }

    #network {
        padding-right: 0;
        padding-left: 4px;
    }

    #bluetooth {
        padding-left: 0;
        padding-right: 4px;
    }

    #clock {
        padding-right: 18px;
        padding-left: 8px;
    }

    #user {
        box-shadow: none;
        text-shadow: none;
        padding: 0px;
        border-radius: 5px;
        margin-top: 3px;
        margin-bottom: 3px;
        padding-right: 4px;
        padding-left: 4px;
        color: #242639;
    }

    #custom-quit {
        box-shadow: none;
        text-shadow: none;
        padding: 0px;
        border-radius: 5px;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-right: 2px;
        margin-left: 2px;
        padding-right: 10px;
        padding-left: 10px;
        color: #242639;
    }

    #custom-lock {
        box-shadow: none;
        text-shadow: none;
        padding: 0px;
        border-radius: 5px;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-right: 2px;
        margin-left: 2px;
        padding-right: 10px;
        padding-left: 10px;
        color: #242639;
    }

    #custom-reboot{
        box-shadow: none;
        text-shadow: none;
        padding: 0px;
        border-radius: 5px;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-right: 2px;
        margin-left: 2px;
        padding-right: 10px;
        padding-left: 10px;
        color: #242639;
    }

    #custom-shutdown {
        box-shadow: none;
        text-shadow: none;
        padding: 0px;
        border-radius: 5px;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-right: 2px;
        margin-left: 2px;
        padding-right: 10px;
        padding-left: 10px;
        color: #242639;
    }
