* {
    /*
    #  Colors used in this Light Waybar Theme. This is just for reference.
        --foreground : #242639;
        --background : #AECCE6;
        --blue	     : #464CE1;
        --red	     : #DF373A;
        --violet	 : #7F00FF;
        --slate-grey : #708090;
    */

        font-family: Roboto, Helvetica, Arial, sans-serif, 'Hack Nerd Font Mono', '3270 Nerd Font Propo';
        font-weight: normal;
        border: none;
        border-radius: 0px;
        font-size: 12px;
        min-height: 32px;
        margin-left: 2px;
        margin-right: 2px;
    }

    window#waybar {
        /*Uncomment the below item to add a border.*/
        border-radius: 12px;
        color: #4A4A4A;
        background-color: rgba(255, 255, 227, .3);
    }

    .modules-left {
        background-color: rgba(45, 45, 45, .8);
        margin: 3px;
        border-radius: 12px 0 0 12px;
        color: #ffffff;
    }

    .modules-right {
        background-color: rgba(45, 45, 45, .8);
        margin: 3px;
        border-radius:  0 12px 12px 0;
        color: #ffffff;
    }

    #custom-appmenu {
        box-shadow: none;
        text-shadow: none;
        padding-right: 4px;
        padding-left: 12px;
    }

    #taskbar {
        /* background-color: #000; */
    }

    #taskbar button {
        box-shadow: none;
        text-shadow: none;
        margin-right: 0px;
        margin-left: 0px;
        padding-right: 4px;
        padding-left: 4px;
    }

    #taskbar button.active {
        background: transparent;
        margin-right: 0px;
        margin-left: 0px;
        padding-right: 4px;
        padding-left: 4px;
    }

    #taskbar button:hover {
        background: #242639;
        color: #AECCE6;
    }

    #window {
        padding-right: 20px;
    }

    #workspaces button {
        box-shadow: none;
        text-shadow: none;
        padding: 0px;
        margin-right: 2px;
        margin-left: 2px;
        margin-top: 2px;
        margin-bottom: 2px;
        padding-right: 15px;
        padding-left: 10px;
        background-color: #CBCBCB;
        color: #4a4a4a;
        opacity: 1;
    }

    #workspaces button.active {
        background: #6D8196;
        color: #242639;
        padding-right: 2px;
        padding-left: 2px;
    }

    #workspaces button:hover {
        background: #6D8196;
        color: #242639;
    }

    #tray {
        padding-right: 4px;
        padding-left: 20px;
    }

    #battery {
        padding-right: 4px;
        padding-left: 4px;
    }

    #cpu {
        padding-right: 4px;
        padding-left: 4px;
    }

    #network {
        padding-right: 4px;
        padding-left: 4px;
    }

    #memory {
        padding-right: 4px;
        padding-left: 4px;
    }

    #disk {
        padding-right: 4px;
        padding-left: 4px;
    }


    #pulseaudio {
        padding-right: 4px;
        padding-left: 4px;
    }

    #bluetooth {
        padding: 0 4px;
    }

    #clock {
        padding-right: 4px;
        padding-left: 4px;
    }

    #user {
        box-shadow: none;
             text-shadow: none;
         padding: 0px;
         border-radius: 5px;
         margin-top: 3px;
         margin-bottom: 3px;
         padding-right: 4px;
         padding-left: 4px;
         color: #242639;
    }

    #custom-quit {
        box-shadow: none;
            text-shadow: none;
        padding: 0px;
        border-radius: 5px;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-right: 2px;
        margin-left: 2px;
        padding-right: 10px;
        padding-left: 10px;
        color: #242639;
    }

    #custom-lock {
        box-shadow: none;
            text-shadow: none;
        padding: 0px;
        border-radius: 5px;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-right: 2px;
        margin-left: 2px;
        padding-right: 10px;
        padding-left: 10px;
        color: #242639;
    }

    #custom-reboot{
        box-shadow: none;
            text-shadow: none;
        padding: 0px;
        border-radius: 5px;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-right: 2px;
        margin-left: 2px;
        padding-right: 10px;
        padding-left: 10px;
        color: #242639;
    }

    #custom-shutdown {
        box-shadow: none;
            text-shadow: none;
        padding: 0px;
        border-radius: 5px;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-right: 2px;
        margin-left: 2px;
        padding-right: 10px;
        padding-left: 10px;
        color: #242639;
    }
